@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Nunito Sans', sans-serif;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slideInLeft {
  animation: slideInLeft 0.2s ease-out;
}

@keyframes modal {
  from{
    opacity: 0;
  }
  to{
    opacity:1;
  }
}

.animate-modal {
  animation: modal 0.2s ease-out;
}

.text-gradient-blue {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #56CCF2, #6D7FFF);
  
  /* background-image: linear-gradient(to right,#FEAC5E, #C779D0, #4bc0c8); */



  /* background-image: linear-gradient(to right, #7b4397, #dc2430); */

  /* background-image: linear-gradient(to right, #D1913C, #FFD194); */

}



/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Style for the custom scrollbar */
::-webkit-scrollbar-track {
  background: #ff6060;
}

::-webkit-scrollbar-thumb {
  background: #ff6060;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Set the custom scrollbar size */
.container::-webkit-scrollbar {
  width: 5px;
}






